<ng-container *ngIf="item">
    <div class="generic-name">Action instance</div>

    <div class="instance-name">{{ name }}</div>

    <app-ui-element-hanger
        tooltip="Input"
        [position]="inputRelativePosition"
        [isInput]="true"
        [icon]="
            connectionService.selectedEffectForSuccessOutput || connectionService.selectedEffectForFailOutput
                ? 'radio_button_unchecked'
                : 'radio_button_checked'
        "
        (clicked)="effectInputClicked()"
    ></app-ui-element-hanger>

    <app-ui-element-hanger
        tooltip="Output"
        [position]="outputRelativePosition"
        [isInput]="false"
        (click)="connectionService.actionUnitInstanceIsReadyToAttachOutput(item)"
    ></app-ui-element-hanger>

    <button
        mat-icon-button
        class="flex-center"
        style="bottom: 0; transform: translateY(50%); position: absolute"
        color="warn"
        [disabled]="disableDeleteButton$ | async"
        (click)="deleteActionUnitInstance()"
    >
        <mat-icon class="flex-center">delete</mat-icon>
    </button>
</ng-container>
