<ng-container *ngIf="item">
    <div class="generic-name">Interface converter</div>

    <div *ngIf="!editMode" class="instance-name">{{ item.name }}</div>

    <form *ngIf="editMode" [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Path</mat-label>
            <input matInput formControlName="path" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>inputInterface</mat-label>
            <mat-select formControlName="inputInterfaceId">
                <mat-option *ngFor="let opt of interfaces$ | async" [value]="opt.id">{{ opt.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>inputInterface</mat-label>
            <mat-select formControlName="outputInterfaceId">
                <mat-option *ngFor="let opt of interfaces$ | async" [value]="opt.id">{{ opt.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-flat-button color="primary" style="margin: 0.5rem 0" (click)="onUpdateInterface()">Save</button>
    </form>

    <app-list-item-panel
        [showAdd]="false"
        [showEdit]="!editMode"
        [showClose]="editMode"
        [showSave]="editMode"
        (editClicked)="editMode = !editMode"
        (closeClicked)="editMode = !editMode"
        (saveClicked)="onUpdateInterface()"
    ></app-list-item-panel>
</ng-container>
